/*Create a new one once screen 500px< */
body {
    width: 50%;
    margin: auto;
    margin-top: 1rem;
    font-family: "Lora", "Minion Pro", Palatino, Georgia, serif;
}

h2{
    margin-bottom: 0.3rem;
}

h3 {
    margin-top: 0rem;
}

span {
    font-size: 2rem;
}

svg {
    min-width: 32px;
    padding-left: 5px;
}

ul, li {
    list-style-type: none;
    list-style-position: inside;
    margin: 0;
    padding: 0;
}

.contact-button{
    border-radius: 3px;
    background-color: #efefef;
    text-decoration: none;
    text-align: center;
    display: block;
    margin: 1.5rem auto;
    width: 220px;
    font-size: 1.4rem;
    font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, sans-serif, Arial, sans-serif;
    font-weight: 300;
    color: #333;
    line-height: 55px;
}

.contact-button:hover {
    color: #efefef;
    background-color: #333;
}

.social-media-li {
    display: inline-block;
    padding-top: 5px;
}

a:hover path {
    fill: black;
}

.social-media-icons {
    /*You can change these*/
    text-align: center;
}

.social-media-icon {
    background-color: transparent;
}

.section-header {
    border-top: 0.5rem;
    border-bottom: 0.25rem;
    border-left: 0px;
    border-right: 0px;
    border-style: solid;
    border-color: black;
    margin-top: 3rem;
}

#profilepic {
    border-radius: 50%;
    display: block;
    margin: auto;
    max-width: -webkit-fill-available;
}

#header h1 {
    text-align: center;
}

.titleandlinks {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}



@media(max-width: 510px) {
    h1{
        text-align: center;
    }

    .titleandlinks {
        justify-content: center;
    }

    .titleandlinks h1 {
        margin-bottom: 0px !important;
    }
}


@media(max-width: 1000px) {
    body {
        width: 80%;
    }
}