/*Create a new one once screen 500px< */
body {
    width: 50%;
    margin: auto;
    margin-top: 1rem;
}

h1 {
    text-align: center;
}

span {
    font-size: 2rem;
}

.social-media-icons {
    /*You can change these*/
    line-height: 36px;
    text-align: center;
}

.social-media-icon {

}

#profilepic {
    border-radius: 50%;
    display: block;
    margin: auto;
    max-width: -webkit-fill-available;
}

#titleandlinks {
    display: flex;
    align-items: center;
    justify-content: space-between;

    border-top: 0.5rem;
    border-bottom: 0.5rem;
    border-left: 0px;
    border-right: 0px;
    border-style: solid;
    border-color:black;
}